$blue-text: var(--resume-text-accent);

.verizon-experience-container {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 20px;

    .verizon-project-navigation {
        display: flex;
        font-size: 1.5em;
        justify-content: space-between;
        cursor: pointer;

        .verizon-project-button {
            font-weight: bold;
            width: 50%;
            border-bottom: 2px solid;
            padding: 5px 10px;
            border-color: black;
            opacity: 0.3;

            &:last-of-type {
                text-align: right;
            }

            &.dark {
                border-color: rgb(194, 194, 194);
            }

            &.selected {
                opacity: 1;
                border: 2px solid;
                border-bottom: none;
                pointer-events: none;
            }
        }
    }

    .verizon-experience-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 15px;
        box-sizing: border-box;
        border: 3px dotted rgb(194, 194, 194);
        position: relative;
        margin-bottom: 100px;
        overflow: hidden;

        p {
            margin-bottom: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        .verizon-experience-text {
            display: flex;
            flex-direction: column;
            gap: 8px;
            opacity: 0;
            transition: opacity 1.3s ease;

            .problem-solution {
                font-weight: bold;
                text-decoration: underline;
                text-transform: uppercase;
                color: $blue-text;
            }
        }

        .verizon-experience-image {
            position: relative;
            display: flex;
            width: 210px;
            height: 170px;
            justify-content: center;

            img {
                position: absolute;
                width: 100%;
                transition: left 0.5s ease, top 0.5s ease, opacity 0.5s ease;

                .visible {
                    left: 0px;
                    opacity: 1;
                }
            }
        }
    }

}

@media (min-width: 680px) {
    .verizon-experience-container {
        font-size: 14px;

        .verizon-experience-section {
            padding: 30px;
            .verizon-experience-image {
                width: 350px;
                height: 285px;
            }
        }
    }

}

@media (min-width: 800px) {
    .verizon-experience-container {
        .verizon-project-navigation {
            font-size: 1.8em;
        }
    }
}

@media (min-width: 920px) {
    .verizon-experience-container {
        .verizon-experience-section {
            flex-direction: row;

            .verizon-experience-text {
                width: calc(50% - 10px);
            }
            .verizon-experience-image {
                height: 240px;
                width: calc(50% - 10px);
                
                > img {
                    max-height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .verizon-experience-container {
        .verizon-experience-section {
            .verizon-experience-image {
                height: 300px;
            }
        }
    }
}