.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: absolute;

    .app-page {
        display: flex;
        justify-content: center;
        width: 100%;
        background: #b1d1f890;
        /* fallback for old browsers */
        background: #283048;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #859398, #283048AA);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #859398, #283048AA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


        min-height: calc(100vh - 76px);
    }

    .page-container {
        margin: 60px 0;
        padding: 20px 10px;
        width: 75%;
        max-width: 920px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 8px;
        background: white;
    }

    .app-topbar {
        display: flex;
        width: calc(100% - 10px);
        box-sizing: padding-box;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;
        gap: 20px;
        background: linear-gradient(to bottom, white, #c9effd50);
        border-bottom: 1px solid gray;
    }

    .app-header {
        font-size: 18px;
        padding: 15px 0;
        text-align: center;
    }

    .app-navigation {
        display: flex;
        gap: 10px;
        align-items: center;

        .navigation-button {
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;

            &.selected {
                color: gray;
                cursor: default;
            }
        }
    }

    .home-footer-text {
        display: flex;
        position: absolute;
        bottom: 0;
        padding: 8px 0;
        font-size: 9px;
        text-align: center;
    }
}

@media (min-width: 480px) {
    .app-container {

        .page-container {
            padding: 40px 30px;
        }

        .app-topbar {
            width: calc(100% - 40px);
            padding: 10px 20px;
        }

        .app-header {
            font-size: 22px;
        }

        .app-navigation {
            gap: 20px;
        }
    }
}

@media (min-width: 580px) {
    .app-container {
        .app-topbar {
            width: calc(100% - 80px);
            padding: 10px 40px;
        }

        .app-navigation {
            gap: 30px;
        }

    }
}