.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: absolute;

    .app-page {
        display: flex;
        justify-content: center;
        width: 100%;

        min-height: calc(100vh - 84px);
    }

    .page-container {
        margin: 60px 0;
        padding: 20px 10px;
        border-radius: 5px;
        border: 1.5px solid #4a4a4a;
        width: 75%;
        max-width: 920px;

        &.dark {
            border-color: rgb(194, 194, 194);
        }
    }

    &.dark {
        background:rgba(0, 0, 0, 0.8);
        color: rgb(194, 194, 194);
    }

    .app-topbar {
        display: flex;
        width: calc(100% - 10px);
        box-sizing: padding-box;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;
        gap: 20px;
        font-family: 'Fira Sans', sans-serif;
        border-bottom: 1px solid black;

        .kenny-heagle-logo {
            display: inline-block;
            padding: 2px;
            margin: 0 8px;
            width: 20px;
            height: 20px;
            background-image: url(../public/logo128.png);
            background-size: contain;
            
            &.dark {
                background-image: url(../public/logo128-gray.png);
            }
        }
    }

    .app-header {
        text-transform: uppercase;
        display: flex;
        white-space: nowrap;
        font-size: 18px;
        padding: 15px 0;
        text-align: center;
    }

    .app-theme-icon {
        margin-top: 5px;
        cursor: pointer;
    }

    .app-navigation-menu-button {
        cursor: pointer;
        padding: 10px;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.05);
        }
    }

    .app-navigation {
        display: flex;
        height: 0;
        overflow: hidden;
        flex-direction: column;
        position: absolute;
        top: 59px;
        right: 0;
        color: black;
        background: rgb(194, 194, 194);
        border-radius: 3px;
        align-items: center;
        transition: height 0.2s ease;

        &.expanded {
            height: unset;
            border: 1px solid black;
        }

        .navigation-button {
            text-align: center;
            text-transform: uppercase;
            width: 60vw;
            padding: 15px 0;
            border-bottom: 0.5px solid black;
            cursor: pointer;

            &.selected {
                font-weight: bold;
                text-decoration: underline;
                color: gray;
                pointer-events: none;
            }
        }
    }

    .home-footer-text {
        display: flex;
        position: absolute;
        bottom: 0;
        padding: 8px 0;
        font-size: 9px;
        text-align: center;
    }
}

@media (min-width: 480px) {
    .app-container {

        .page-container {
            padding: 40px 30px;
        }

        .app-topbar {
            width: calc(100% - 40px);
            padding: 10px 20px;
        }

        .app-header {
            font-size: 22px;
        }

        .app-navigation {
            top: 83px;
        }
    }
}

@media (min-width: 580px) {
    .app-container {
        .app-topbar {
            width: calc(100% - 80px);
            padding: 10px 40px;
        }

    }
}

@media (min-width: 680px) {
    .app-container {

        .app-navigation-menu-button {
            display: none;
        }

        .app-navigation {
            position: unset;
            height: unset;
            flex-direction: row;
            gap: 30px;
            border: none;
            background: unset;

            .navigation-button {
                padding: 0;
                border: none;
                width: unset;
            }
            
        }
    }
    
}